# HTTP and file handling
requests>=2.32.4
python-multipart>=0.0.6


# Utilities
python-dotenv>=1.1.1
typing-extensions

#Gemini Models
google-genai>=1.29.0
google-generativeai>=0.8.5
#For OSS Model
groq>=0.31.0

openai-harmony>=0.0.4

##Game Sim
pandas>=2.3.2
openpyxl>=3.1.5
matplotlib
seaborn
wordcloud
plotly

# Web framework (for FastAPI components in ADK)
google-adk>=1.3.0
fastapi>=0.100.0
uvicorn>=0.22.0
litellm>=1.75.5
anthropic>=0.69.0